.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: rgb(116, 248, 112);
  color: rgb(2, 29, 15);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    opacity: 1;
    transform: scale(1);
  }

  &:hover {
    background-color: rgb(10, 187, 49);
    transform: scale(1.2);
  }
}